<% layout("/layout/boilerplate") %>
  <div class="row mb-3">
    <div class="col-8 offset-3 mt-3 mb-2">
      <h3><b><%= listing.title %></b></h3>
    </div>
    <div class="card col-6 offset-3 show-card">
      <img src="<%= listing.image%>" class="card-img-top show-img" alt="listing image">
      <div class="card-body">
        <p class="card-text"> <i><%= listing.owner.username %></i> </p>
        <p class="card-text"> <%= listing.description %> </p>
        <p class="card-text"> 
          <% if (listing.price !== null) { %>
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
          <% } %>
        </p>
        <p class="card-text">  <%= listing.location %> </p>
        <p class="card-text">  <%= listing.country %> </p>
        
      </div>
      
      <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
      <div class="btns">
        <form method="GET" action="/listings/<%= listing._id %>/edit">
          <button class="btn btn-link offset-3">Edit</button>
        </form>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-delete offset-5">Delete</button>
        </form>
      </div>
      <% } %>
      <hr>
      
      <div class="col-8 offset-2 mt-3">
        <% if(currUser){ %>
        <h4>Leave a Review</h4>
        <form method="POST" action="/listings/<%=listing._id%>/reviews" class="needs-validation" novalidate > 

          <div class="mt-3 mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
          </div>

          <div class="mt-3 mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea cols="30" rows="5" name="review[comment]" id="comment" class="form-control" required></textarea>
            <div class="invalid-feedback">please enter your comment for review</div>
          </div>

          <br>
          <button class="btn add-btn">Submit</button>
        </form>
        <% } %>
      </div>

      <div class="row">
        <p><b>All Reviews</b></p>
        <hr>
        <% for(let review of listing.reviews){ %>
          <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
              <h5 class="card-title">@<%- review.author.username %></h5>
              <p class="card-text"> <%= review.comment %> </p>
              <p class="card-text"> <%= review.rating %> stars </p>
              <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                <button class="btn btn-sm btn-delete">delete</button>
              </form>
            </div>
         </div>
        <% } %>
    </div>
  </div>

  